# Python Data Structures - Nirja
# Author: Nirja 
# Date: July 08, 2025
# Purpose: This notebook contains practice examples of core Python data structures.

1. Numbers

In [52]:
#Integer and Float example
a=10  #int
b=2.5 #float
print(a + b)

12.5

2. Strings

In [53]:
#Variable assignment #Indexing and slicing
name = "Nirja"
subject = "Python"
print("Hello my name is",name)
print("I am learning",subject)
name[1]
subject[1:6]

Hello my name is Nirja
I am learning Python

'ython'

3. Lists

In [54]:
Animals =["cat", "dog", "monkey"]
Animals.append("cow") #.append() function is used to add an element to the respective list.
Animals
numbers =[1,2,3,4,5]
numbers.pop(4) #.pop() function is used to remove an element from the list.

5

4. Dictionaries

In [55]:
my_dict ={"k1":100,"k2":200,"k3":300}
my_dict["k1"]
my_dict.keys()   #prints the name of the keys assigned
my_dict.values() #prints the value assigned to the keys
my_dict.items()  #prints the items

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

5. Tuples

In [56]:
marks =(10,20,30)
print("Marks obtained:",marks[2])

Marks obtained: 30

6. Sets

In [57]:
set([1,2,2,2,2,3,4,5,5,5,6,7,7,7,8,8]) #set is a collection of unique elements.

{1, 2, 3, 4, 5, 6, 7, 8}

7. Booleans

In [58]:
#Boolean is a data type which returns a True or False value.
a=10
b=20
a<b

True

## ðŸ“Œ Summary
This notebook helped me practice:
- Basic arithmetic and variable types
- Data structures like strings, lists, dictionaries, tuples, sets, and booleans
- Indexing, slicing, and built-in functions